__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/
env/

# IDE configuration
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
